@use '../variables/transition' as t;

@mixin transition($prop: all, $duration: t.$transition-duration, $easing: t.$transition-timing-function) {
  transition-duration: $duration;
  transition-property: $prop;
  transition-timing-function: $easing;
}
