@use "styles/init" as *;

.block {
  @include reset-button();
  @include font-size(14px, 14px);
  @include transition(background-color);

  position: relative;
  padding: 16px 24px;
  width: 100%;
  font-weight: var(--font-weight-bold);
  color: var(--text-inverted);
  background-color: var(--color-accent);
  border-radius: 8px;

  @include media-breakpoint-up(sm) {
    @include font-size(20px, 20px);

    border-radius: 12px;
  }

  &:hover {
    background-color: var(--color-accent-hover);
  }

  &:active {
    background-color: var(--color-accent-dark);
  }
}
