@use "styles/init" as *;

.layout {
  background-image: linear-gradient(to bottom right, var(--color-main), var(--color-main) 50%, var(--bg-primary) 50%, var(--bg-primary));
}

.title {
  @include font-size(32px, 40px);

  font-weight: var(--font-weight-bold);

  @include media-breakpoint-up(sm) {
    @include font-size(56px, 64px);

    margin-bottom: 64px;
  }
}

.button {
  @include media-breakpoint-up(sm) {
    max-width: 300px;
  }
}
