:root {
  --bg-primary: #FFF3EB;
  --bg-secondary: #F5F5F7;
  --color-main: #FFF;
  --color-accent: #FF8B37;
  --color-accent-light: #FFF3EB;
  --color-accent-hover: #FFAC70;
  --color-accent-dark: #E87928;
  --color-disabled: #D0D0D8;
  --color-error: #EC6259;
  --color-error-light: #FDEEED;
  --color-success: #47D867;
  --color-success-light: #E6FAEA;
  --text-primary: #1C1C21;
  --text-inverted: #FFF;
}
