@use 'helpers/common' as h;

html {
  height: 100%;
}

body {
  @include h.font-size(14px, 20px);

  min-width: 320px;
  height: 100%;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
